<div class="row">
    <div class="col">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group mb-3">
                <label for="email">Email</label>
                <input
                        type="text"
                        class="form-control text-center"
                        formControlName="email"
                        id="email"
                />
            </div>

            <div class="form-group mb-3">
                <label for="password">Password</label>
                <input
                        type="password"
                        class="form-control text-center"
                        formControlName="password"
                        id="password1"
                />
            </div>
            <button
                    type="submit"
                    class="btn btn-md btn-dark"
                    [disabled]="!loginForm.valid"
            >
                Login
            </button>
        </form>
    </div>
</div>

<button *ngIf="loginError" class="login-error" (click)="navigateToRegister()">
    Login failed. Please check your credentials and try again. Don't have an
    account yet? Click here to register.
</button>
